<!doctype html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Itim|Roboto+Mono:300,400,500,700&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/d3.v5.min.js"></script>
<script src="js/vue.js"></script>

<style>

html, body, #app{
  height: 100%;
  background-color: black;
}

*{
  font-family: 'Roboto Mono', monospace;
  font-size:12px;

  color: white;
}

.fade-enter-active{
  transition: opacity 1s;
}

.fade-leave-active{
  transition: opacity 0s;
}
.fade-enter, .fade-leave-to{
  opacity: 0;
}

h1, h1 *{
  font-size: 40px;
}

.magic-bar, .magic-bar *{
    user-select: none;
}
.your{
  color: #fcdb03;
}

.predicted{
  color: #347deb;
}

.true{
  color: red;
}

button{
  color:black;
}

.dept, .dept *{
  font-weight: bold;
  font-size: 16px;
}

.instruction{
  position:absolute; 
  height:100%; 
  width:100%; 
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
    user-select: none;
  font-size: 16px;
}

.instruction div{
  font-size: 16px;
  position:relative;
  z-index: 2;  
  padding: 8px;
    user-select: none;
    color:black;
    background-color:#fcdb03;
    color: black;
}

button{
  font-size: 16px;
}

.feedback{
  margin-bottom: 12px;
  padding: 8px; 
  color:black;
}
</style>

</head>

<body>


<div id="app">
<div style="position:relative; padding: 16px; margin-left:100px">

  <h1>If you were President, how would you <span class="your">allocate</span> the U.S. budget?</h1>

  <div class="dept" style="margin-bottom: 16px"><span class="your">${{budgetRemaining.your}} billion</span> remaining</div>

  <!-- {{deltaAmount}} {{activeDept}} {{isDragging}} -->
  <div   @mousedown="setIsDragging(0, true)" 
         @mouseup="setIsDragging(0, false)" 
         @touchstart="setIsDragging(0, true)"
         @touchend="setIsDragging(0, false)"
         @contextmenu="setIsDragging(0, false)"
         style="position:relative"
  >
    <div v-if="showInstructionsToAdd" class="instruction">
      <div>Drag anywhere to allocate money</div>
    </div>

    <transition name="fade">
      <div class="instruction"
          v-if="showInstructionsToRemove"
          @mousedown="showInstructionsToRemove=false"
          style="width: 50px; height:100%; left: -60px; writing-mode: vertical-rl; transform: rotate(180deg); background-color: #fcdb03; color:black">
          Drag here to take money away
      </div>
    </transition>

    <magic-bar v-for="(amount, dept) in allocation.your" section="your"
    :key="'0' + dept" :name="dept" :num-units="Math.max(1, Math.round(amount))"
    :style="magicBarStyle()"
    @mousemove-from-bar="mousemoveFromBar">
    </magic-bar>
  </div>

  <div id="stage0-complete" v-show="budgetRemaining.your == 0">
    <div class="feedback" style="background-color: #fcdb03;">No money left. Good spending!</div>
    <button @click="goToStage(1)">Next</button>
  </div>

  <div id="stage1" v-show="stage >= 1 || debug"
         @mousedown="setIsDragging(1, true)" 
         @mouseup="setIsDragging(1, false)" 
         @touchstart="setIsDragging(1, true)"
         @touchend="setIsDragging(1, false)"
         @contextmenu="setIsDragging(1, false)">
    <h1>How do you <span class="predicted">think</span> America allocates its budget?</h1>
    <!--                  :references="['your']" -->
    <magic-bar v-for="(amount, dept) in allocation.predicted" 
                 :key="'1' + dept" 
                 section="predicted" :name="dept" :num-units="amount"
                 @mousemove-from-bar="mousemoveFromBar"
                 :style="magicBarStyle()">
    </magic-bar>

    <div id="stage1-complete" v-show="budgetRemaining.predicted == 0">
      <div class="feedback" style="background-color: #347deb">No budget left. Estimate complete!</div>
      <button @click="goToStage(2)">Next</button>
    </div>

  </div>

  <div id="stage2" v-show="stage >= 2 || debug">
    <h1>This is how <span class="true">America</span> actually allocates its budget</h1>

    <div style="margin-bottom: 16px">
      <div class="your">$: Your ideal allocation</div>
      <div class="predicted">$: Your predicted U.S. allocation</div>
      <div class="true">$: Actual U.S. allocation</div>
    </div>
    <magic-bar v-for="(amount, dept) in allocation.true" 
               :key="'2' + dept" 
               :references="['your', 'predicted']"
               section="true" :name="dept" :num-units="amount"
               :style="magicBarStyle()">
    </magic-bar>
  </div>

</div> <!-- end center div -->
</div> <!-- end #app -->

<script type="text/x-template" id="magic-bar-template">
<div class="magic-bar" style="width:100%; margin-bottom: 8px;"
       :style="{'padding-left': $root.sizeOfLeft + 'px'}"
       @mousemove="mousemove""> <!-- outer div is the invisible container listening to mousepress events -->

  <div class="dept">{{name}} ${{numUnits}} billion</div>

  <!-- reference -->
  <div v-for="reference in references">
    <span v-for="_ in $root.allocation[reference][name]"
    :class="reference">$</span>
  </div>

  <!-- this is the current one -->
  <div><span v-for="_ in numUnits" :class="section">$</span></div>
</div>
</script>


<script>

// 'yours', 'predicted', 'murica'

const wait = ms => new Promise(resolve => setTimeout(resolve, ms));

// 1279 billions.

// https://docs.google.com/spreadsheets/d/13YXC-Egw7nW5amO3zM98zex6rJc8DbRwe9uSBeEkRu0/edit
// 2020: in billions
var trueDeptToBillions = {
'Agriculture': 20.8,
'Commerce': 12.2,
'Defense': 718,
'Education': 62,
'Energy': 31.7,
'Health & HS': 87.1,
'Homeland Security': 51.7,
'HUD': 44.1,
'Interior': 12.5,
'Justice': 29.2,
'Labor': 10.9,
'State & Intern': 40,
'Transportation': 21.4,
'Treasury': 12.7,
'Veterans Affairs': 93.1,
'Civil Works': 4.8,
'EPA': 6.1,
'NASA': 21,
};
trueDeptToBillions = _.mapValues(trueDeptToBillions, x => Math.round(x));


const SECTION_TO_COLOR = {
  'your': 'yellow',
  'predicted': 'white', 
  'true': 'red'
}

const AUTO_FLIP_MS = 50;

Vue.component('magic-bar', {
  props: {

    references: {type: Array, default: () => []},
    section: {type: String, default: 'Section'},
    name: {type: String, default: 'Name'},
    numUnits: {type: Number, default: 1},
  },
  methods: {
    mousemove(event){
      // Find the relative X of the mouse event
      var refElement = event.target;
      while (refElement.className !== 'magic-bar'){
        refElement = refElement.parentElement;
      }

      const refX = refElement.getBoundingClientRect().x;
      var clientX = event.clientX;
      if (event.touches){
        clientX = event.touches[0].clientX;
      }

      // todo: may need a buffer
      const distanceFromEdge = clientX - refX; 
      var positiveOrNegative; 
      if (distanceFromEdge < this.$root.sizeOfLeft){
        // This means it's a decrement
        positiveOrNegative = -1;
      } else {
        positiveOrNegative = 1;
      }

      //console.log('refX ' + refX + ' clientX ' + clientX);
      this.$emit('mousemove-from-bar',  {  
        section: this.section, 
        name: this.name, 
        positiveOrNegative: positiveOrNegative,
      });
    }
  },
  template: '#magic-bar-template'
});


// Gotchas:
// DOM does not update for new property additions.
// DOM does not update for direct assignments within arrays.
// https://vuejs.org/2016/02/06/common-gotchas/#Why-isn%E2%80%99t-the-DOM-updating  
new Vue({
  el: '#app',

  computed: {
    budgetRemaining(){
      const total = _.sum(_.values(trueDeptToBillions));
      return {
        'your': total - _.sum(_.values(this.allocation['your'])), 
        'predicted': total - _.sum(_.values(this.allocation['predicted'])), 
      };
    },
    deltaAmount(){
      if (!this.isDragging){
        return 0;
      }
      return this.positiveOrNegative > 0 ? this.positiveOrNegative * this.amountPerDollar : -1;
    },
    activeSection(){
      return ['your', 'predicted', 'true'][this.stage];
    }
  },
  watch: {
    'budgetRemaining.your': async function(){
      if (this.budgetRemaining.your == 0){
        await wait(100); // need this so v-show triggers first
        this.scrollTo('stage0-complete'); 
      }
    },

    'budgetRemaining.predicted': async function(){
      if (this.budgetRemaining.predicted == 0){
        await wait(100); // need this so v-show triggers first
        this.scrollTo('stage1-complete');
      }
    },

    isDragging(){
      if (this.isDragging){
        const this_ = this;
        this.autoFlipper = setInterval(function(){
          // increment the value by the delta amount
          // increment the active dept section by
          this_.flip();
        }, AUTO_FLIP_MS);        
      } else {
        if (this.autoFlipper){
          clearInterval(this.autoFlipper);
        }
      }
    },
    async showInstructionsToAdd(){
      await wait(5000);
      this.showInstructionsToRemove = true;
    }
  },
  data: {
    debug: true,
    stage: 0,
    activeDept: null,
    showInstructionsToAdd: true,
    showInstructionsToRemove: false,

    isDragging: false,
    autoFlipper: null,
    amountPerDollar: 5, // Use to change scale per $
    positiveOrNegative: 0, // Use to indicate whether incrementing (1), decrementing (-1), or neither (0)

    allocation: {'your': makeEmpty(), 'predicted': makeEmpty(), 'true': trueDeptToBillions},

    sizeOfLeft: 100,

  },
  methods: {
    flip(){
      if (this.deltaAmount === 0){
        return;
      }

      if (!this.activeDept){
        return;
      }

      const oldValue = this.allocation[this.activeSection][this.activeDept];
      const delta = Math.min(this.deltaAmount, this.budgetRemaining[this.activeSection]);
      const newValue = Math.max(1, oldValue + delta);

      if (isNaN(newValue)){
        debugger;
      }
      this.allocation[this.activeSection][this.activeDept] = newValue;
    },

    mousemoveFromBar(params){
      if (!this.isDragging){
        return;
      }

      //this.activeSection = params.section;
      this.activeDept = params.name;
      this.positiveOrNegative = params.positiveOrNegative;
    },
    async goToStage(stageNum){
      this.isDragging = false;
      this.stage = stageNum; 

      await wait(100);
      this.scrollTo('stage' + stageNum);
    },
    magicBarStyle(){
      return {
        position: 'relative',
        left: -1 * this.sizeOfLeft + 'px'
      };
    },
    setIsDragging(stageOfSection, value){
      this.showInstructionsToAdd = false;
      if (this.stage == stageOfSection){
        this.isDragging = value;
      }
    },
    scrollTo(id){
      console.log('scrolling to ' + id);
      document.getElementById(id).scrollIntoView({behavior: 'smooth'});      
    }
  }
});

function makeEmpty(){
  return _.mapValues(trueDeptToBillions, x => 1);
}

function makeRandom(){
  return _.mapValues(trueDeptToBillions, x => 1 + Math.floor(Math.random()*500));
}

// const url = 'https://script.google.com/macros/s/AKfycbwYrMYUdHhgfUC-jMoGzBE2lbz48oPVIsfnkrs1PAVP4ece8Qw/exec';
// var jqxhr = $.ajax({
//   url: url,
//   method: "GET",
//   dataType: "json",

//   // Zomg this is amazing. Matching fields are included. 
//   // Fields not in the spreadsheet are ignored.
//   // Can send numbers as either strings or numbers. Doesn't matter.
//   data: {'field1': 22, 'field2': '1', 'field3': 'd'}
// });
</script>
