<!doctype html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Itim|Roboto+Mono:300,400,500,700&display=swap" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/d3.v5.min.js"></script>
<script src="js/vue.min.js"></script>

<style>

html, body, #app{
  height: 100%;
  background-color: black;
}

*{
  font-family: 'Roboto Mono', monospace;
  font-size:16px;

  color: white;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.smaller, .smaller *{
  font-size: 16px;
}

div {
  margin-bottom: 12px;
}

h1{
  font-size: 60px;
}
</style>

</head>

<body>


<div id="app">
<div style="position:relative; padding: 16px; margin-left:100px">

  <h1>In an ideal world, how would you allocate the budget?</h1>

  <div>Tap to allocate budget</div>

  <magic-bar v-for="(amount, dept) in trueDeptToBillions" :name="dept" :num-units="amount">
  </magic-bar>


  <h1>How do you think America allocates its budget?</h1>


  <h1>This is how America allocates its budget</h1>

</div> <!-- end center div -->
</div> <!-- end #app -->

<script type="text/x-template" id="magic-bar-template">
<div style="position:relative; height:40px; border: 1px solid red; width:100%" 
       @mousedown="isMouseDown = true" 
       @mouseup="isMouseDown = false" 

       @touchstart="isMouseDown = true"
       @touchend="isMouseDown = false"

       @contextmenu="isMouseDown = false"> <!-- outer div is the invisible container listening to mousepress events -->
  <div>{{name}}</div>
  <div style="position:absolute; top:20px; left:0px"><span v-for="_ in Math.round(numUnits)">$</span></div>
</div>
</script>


<script>

// 'yours', 'predicted', 'murica'

const wait = ms => new Promise(resolve => setTimeout(resolve, ms));


// 2020: in billions
const trueDeptToBillions = {
'Agriculture': 20.8,
'Commerce': 12.2,
'Defense': 718,
'Education': 62,
'Energy': 31.7,
'Health & HS': 87.1,
'Homeland Security': 51.7,
'HUD': 44.1,
'Interior': 12.5,
'Justice': 29.2,
'Labor': 10.9,
'State & Intern': 40,
'Transportation*': 21.4,
'Treasury': 12.7,
'Veterans Affairs**': 93.1,
'Civil Works': 4.8,
'EPA': 6.1,
'NASA': 21,
};

Vue.component('magic-bar', {
  props: {
    section: {type: String, default: 'Section'},
    name: {type: String, default: 'Name'},
    numUnits: {type: Number, default: 0},
  },
  watch: {
    isMouseDown(){
      if (this.isMouseDown == false){
        // This flip handles the click case.
        this.flip();
        if (this.autoFlipper){
          clearInterval(this.autoFlipper);
        }
      }

      if (this.isMouseDown == true){
        const this_ = this;
        this.autoFlipper = setInterval(function(){
          if (this_.isMouseDown == true){
            this_.flip();
          }
        }, 150);        
      }
    }
  },
  data: function(){
    return {
      isMouseDown: false,
    }
  },
  methods: {
    flip(){
      console.log('flip');
    }
  },
  template: '#magic-bar-template'
});


// Gotchas:
// DOM does not update for new property additions.
// DOM does not update for direct assignments within arrays.
// https://vuejs.org/2016/02/06/common-gotchas/#Why-isn%E2%80%99t-the-DOM-updating  
new Vue({
  el: '#app',
  data: {
    trueDeptToBillions: trueDeptToBillions,
    selectedState: null,
    // selectedStates: [],
  },
});


// const url = 'https://script.google.com/macros/s/AKfycbwYrMYUdHhgfUC-jMoGzBE2lbz48oPVIsfnkrs1PAVP4ece8Qw/exec';
// var jqxhr = $.ajax({
//   url: url,
//   method: "GET",
//   dataType: "json",

//   // Zomg this is amazing. Matching fields are included. 
//   // Fields not in the spreadsheet are ignored.
//   // Can send numbers as either strings or numbers. Doesn't matter.
//   data: {'field1': 22, 'field2': '1', 'field3': 'd'}
// });
</script>
